<!doctype html>
<html class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mikrofabriken Checklist Webapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full">
    <div class="min-h-full">
        <nav x-data="{ isOpen: false }" class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-12 w-12" src="/static/images/Mikrofabriken.svg" alt="Mikrofabriken">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                {% for machine in machines %}
                                {% if current_machine and current_machine == machine %}
                                <a href="/{{ machine.slug }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ machine.name }}</a>
                                {% else %}
                                <a href="/{{ machine.slug }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ machine.name }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="-mr-2 flex md:hidden">
                        <button type="button" @click="isOpen = !isOpen" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                            <svg :class="isOpen ? 'hidden' : 'block'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/></svg>
                            <svg :class="isOpen ? 'block' : 'hidden'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
                        </button>
                    </div>
                </div>
            </div>

            <div x-show="isOpen" class="md:hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    {% for machine in machines %}
                    {% if current_machine and current_machine == machine %}
                    <a href="/{{ machine.slug }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">{{ machine.name }}</a>
                    {% else %}
                    <a href="/{{ machine.slug }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ machine.name }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </nav>

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                {% if current_machine %}
                <h1 class="text-3xl font-bold text-gray-900">{{ current_machine.name }}</h1>
                {% else %}
                <h1 class="text-3xl font-bold text-gray-900">Hello World!</h1>
                {% endif %}
            </div>
        </header>

        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <div class="px-4 py-6 sm:px-0">
                    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
