<!doctype html>
<html class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mikrofabriken Checklist Webapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Checklists{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/alpine.collapse.min.js"></script>
    <script src="/static/js/alpine.min.js"></script>
    <script src="/static/js/cookies.min.js"></script>
</head>

<body class="h-full">
    <div class="min-h-full">
        <nav x-data="{ isOpen: false }" class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-12 w-12" src="/static/images/Mikrofabriken.svg" alt="Mikrofabriken">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                {% for machine in machines %}
                                {% if current_machine and current_machine == machine %}
                                <a href="/{{ machine.slug }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ machine.name }}</a>
                                {% else %}
                                <a href="/{{ machine.slug }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ machine.name }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-center items-center">
                        <span class=" block mr-3">🇸🇪</span>
                        <label class="flex items-center cursor-pointer">
                            <div class="relative">
                                <input
                                    x-data="{ swedish: 'true' }"
                                    x-init="swedish = docCookies.hasItem('swedish') ? (docCookies.getItem('swedish') == 'true') : true;"
                                    x-model="!swedish"
                                    @click="swedish = !swedish; docCookies.setItem('swedish', swedish, (12*60*60)); window.location.reload();"
                                    type="checkbox" class="sr-only">
                                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                            </div>
                        </label>
                        <p x-text="swedish"></p>
                        <span class=" block ml-3">🇬🇧</span>
                    </div>

                    <div class="-mr-2 flex md:hidden">
                        <button type="button" @click="isOpen = !isOpen" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                            <svg :class="isOpen ? 'hidden' : 'block'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/></svg>
                            <svg :class="isOpen ? 'block' : 'hidden'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
                        </button>
                    </div>
                </div>
            </div>

            <div x-show="isOpen" class="md:hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    {% for machine in machines %}
                    {% if current_machine and current_machine == machine %}
                    <a href="/{{ machine.slug }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">{{ machine.name }}</a>
                    {% else %}
                    <a href="/{{ machine.slug }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ machine.name }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </nav>

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                {% block header %}Checklists{% endblock %}
            </div>
        </header>

        <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="px-4 sm:px-0">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</body>

</html>
